


body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family:Verdana, Tahoma, sans-serif;
    background-color: white;

}

.nav, .copyright{
    display:flex;
    align-items:center;
    justify-content: space-around;
    background-color:#1F2937;
    color:white;
}


.hero{
    background-color:#1F2937;
    display:flex;
    justify-content: center;
    gap:20px;
    align-items: start;
   padding:50px;
   color:white;
  
    

}

.awesomecontainer{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    width:340px;
    gap: 15px;
}



.footercall, .logo{
    font-size:24px;
    font-weight:800;
    color:#F9FAF8;
}

.thor{font-size:24px;
font-weight:800;
color:#1F2937;
align-self: flex-end;}

ul{
    display:flex;
    text-decoration:none;
    list-style-type: none;
    gap:15px;
    
}



h1{
    font-size:48px;
    font-weight:bold;
    margin:0px;
}


.footertext, .herotext{
    font-size:18px;
    color:#E5E7EB;
}

button{background-color: #3882F6 ;
    padding:5px 25px;
    border-radius: 8px;
    color:white;
    border-style:none;
}
    


button.footerbutton{
    border-color: white; 
    border-width: 1px;
    border-style:solid;
}


.illustrationcontainer{
   display:flex;
   justify-content: center;
   gap:30px;
   padding-bottom:50px;
   
}

.illustration{
    display:flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    max-width:150px;
   
    
}



.quotebanner{
    background-color: #E5E7EB;
    font-size:36px;
    font-style: italic;
    font-weight:lighter;
    color:#1F2937;
    display: flex;
    flex-direction: column;
flex-grow:1;
flex-shrink:1;
flex-basis:auto;
    margin:0px;
  align-items: center;
  padding:80px 250px;
}

.rounded{
    border-color: blue;
    border-width: 1px;
    border-style: outset;
    border-radius: 8px;

}

.somerandominfo{
    display: flex;
    align-self: center;
    font-size:36px;
    font-weight:bolder;
    color:#1F2937;
    padding-top:30px;
    padding-bottom:30px;
}

.footeraction{
    display: flex;
    flex-direction: column;
    width:800px;
    background-color:#3882F6;
    padding:30px 80px;
    margin-top:50px;
    margin-bottom:50px;
    justify-content: space-between;
    align-self: center;

}

.footertext{align-self:flex-end;}

.footerbottom{
    display: flex;
    justify-content: space-between;
}

.quotetext{
    font-style:italic;
    color:#1F2937;
    font-size:36px;
}

.copyright{
    padding:20px;
}


