


body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family:Verdana, Tahoma, sans-serif;
    background-color: #84a818;
    padding:0px;
    margin:0px;
    color:
    #f7c997;
    font-size: 2vmin;
    

}

/* Navbar and Hero */

.nav, .copyright{
    display:flex;
    align-items:center;
    justify-content: space-around;
    background-color:#a87118;
    color:#f7c997
    ;
}

ul{
    display:flex;
    text-decoration:none;
    list-style-type: none;
    gap:15px;
    
}

.herotext, .illustration{font-size:2vmin;}

.hero{
    background-color:#a87d18;
    display:flex;
    justify-content: center;
    gap:20px;
    align-items: start;
   padding:50px;
   color:#f7c997
   ;
}

.hero img{border-radius: 8px;
border-color:#f797f4;
border-width: 5px;
border-style:solid;
margin-left:10px;
}




.footercall, .logo{
    font-size:2.2vmin;
    font-weight:800;
    color:#f28016;
}


.awesomecontainer{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    width:340px;
    
}

/*some random info*/



.thor{font-size:2.5vmin;
font-weight:800;
color:#fcebd9;
align-self: flex-end;}




h1{
    font-size:5vmin;
    font-weight:bold;
   margin:0px 0px 5px 0px;
    text-shadow:-2px 2px #a87118;
}


.footertext{
    font-size:1.7vmin;
    color:#f28016;
}

.herotext{
    color:#fcebd9;
    margin:0px 0px 15px 0px;
}

button{background-color: #f797f4 ;
    padding:5px 25px;
    border-radius: 8px;
    color:#07f7cb;
    border-style:none;
    height:30px;
    text-align: center;  
    font-size:1.3vmin;
}
    


button.footerbutton{
    border-color:#07f7cb;
    border-width: 1px;
    border-style:solid;
    align-self: center;   
}


button:hover{
    background-color:#ed8f6d;
}



.illustrationcontainer{
   display:flex;
   justify-content: center;
   /**gap:30px; doesn't work on Safari**/
   padding: 50px;
   flex-wrap: wrap;
   background-color: #a89518;
   color:#fcebd9;
   
}

.illustration{
    display:flex;
    flex-direction: column;
    /**gap: 20px; doesn't work in Safari**/
    text-align: left;
    max-width:250px;
    margin:0px 15px;

}


.illustration img{
max-width:200px;
margin-bottom:15px;
}


.quotebanner{
    
    font-size:4vmin;
    font-style: italic;
    font-weight:lighter;
    color:#867d72;
    display: flex;
    flex-direction: column;
flex-grow:1;
flex-shrink:1;
flex-basis:auto;
    margin:0px;
  align-items: center;
  padding:50px 250px;
  background-color:#a3a818;}

.rounded{
    border-color: gold;
    border-width: 3px;
    border-style: outset;
    border-radius: 8px;
    border-style:solid;

}

.illustration p{margin:0px;}

h2.somerandominfo{
    display: flex;
    flex-direction:column;
    font-size:4vmin;
    font-weight:bolder;
    color:#ede382;
    padding-top:30px;
    padding-bottom:30px;
    background-color: #a88918;
    width:100%;
    align-items:center;
    text-shadow: -1px 1px #07f7cb;
    margin:0px;
    
}

.footeraction{
    display: flex;
    width:60%;
    min-width: 500px;
    background-color:#ede382;
    padding:30px 80px;
  margin:50px 0px;
    justify-content: space-between;
    align-self: center;
    align-items:center;
    border-radius: 8px;
    border-width: 2px;
    border-color:#f7c997;
    border-style:solid;
   
}

.footeractionleft{margin-left:0px;
    display: flex;
    flex-direction: column;
    gap:2px;
    width:80%;
 
    
}

p.myth{
    color:#ede382;
    margin-bottom:15px;
}

p.fact{
    margin-bottom:30px;
}



h3.footercall{
    margin:0px;
    padding:0px;
}

.footertext{
    margin:0px;
    padding:0px;
  
}

.footerbottom{
    display: flex;
    justify-content: space-between;
}

.quotetext{
    font-style:italic;
    color:#fcebd9;
    font-size:4vmin;
    margin-bottom:10px;
}

.footnotes {
background-color: #73a818;
padding:10px;
font-size:1.2vmin;
}

.copyright{
    padding:20px;
    background-color: #41a818;
}

a, li{color:#07f7cb;
    }
 a:hover, .nav li:hover{color:blueviolet;}
 sup { vertical-align: top; font-size: 0.6em; 
}